
label {
    font-weight: bold;
   
    margin-right: 25px;
    margin-bottom: 5px;
}

body {
    
    background-color: #2196F3;
}

form {
    margin: 15px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;

    justify-content: center ;
    display: inline;
    gap: 18px;
    vertical-align: baseline;
}
.topnav {
    overflow: hidden;
    background-color:#2196F3;
    display: flex;
}
.test{
    display: flex;
    border: 5px solid black;
    margin: 5px;
    padding: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
    
}
.form label{
   
    border: 5px solid black;
    margin: 5px;
    padding: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
}


button {
    display: flex;
    border: 5px solid black;
    margin: 5px;
    padding: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
    color: #2196F3;
}
header{
    display: flex;
   font-size: xx-large;
    margin: 5px;
    padding: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
}
form .testt3{
    border: 5px solid black;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.active {
    background-color: greenyellow;
    
  }

 .menu {
    display: flex;
 }

 .champ {
    width: 50%;
    height: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;


}

#formu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid black;
    padding: 20px;
    background-color: #2196F3;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 0 black;
    transition: 0.5s;
}
#arm {
   
    width: 50%;
    height: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;

   
 }



 
